<div class="card mx-5 mb-4" style="margin-top: 200px;">
  <div class="card-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-5 mx-auto" style="width: 15rem;">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'form-control' %>
      </div>

      <div class="field mt-4 mx-auto" style="width: 15rem;">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード', class: 'form-control' %>
      </div>

      <div class="field mt-4 mx-auto" style="width: 15rem;">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード確認', class: 'form-control' %>
      </div>

      <div class="actions text-center mb-4 mt-5">
        <%= f.submit "登録する", class: 'btn', style: "background-color:#6558F5; color: white; display: inline-block;"%>
      </div>
    <% end %>
    
    <hr width=80% style="border-width: 2px;">

    <div class="actionsm text-center my-4">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Googleアカウントで登録する", omniauth_authorize_path(resource_name, provider), method: :post, class: 'btn', style: "background-color:#6558F5; color: white; display: inline-block;" %><br />
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
